@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <h1>Top 3 Lettori</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Numero libri letti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Top3Users)
                {
                    <tr>
                        <th>@user.UserId</th>
                        <td>@user.User.Username</td>
                        <td>@user.BookCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <h1>Best Seller</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titolo</th>
                    <th>Prestiti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.TopBooks)
                {
                    <tr>
                        <th>@book.BookId</th>
                        <td>@book.Book.Title</td>
                        <td>@book.Loans</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
