@page
@model BocchiStore.Pages.LoansOnGoingModel
@{
    ViewData["Title"] = "Libri non rientrati";
}

<h1>Libri non rientrati</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Utente</th>
                <th>Libro</th>
                <th>Data inizio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in Model.Loans)
            {
            <tr>
                <th>@l.User.UserId</th>
                <td>@l.User.Name @l.User.Surname (@l.User.Username)</td>
                <td>@l.Book.Title</td>
                <td>@l.StartDate.ToShortDateString()</td>
            </tr>
            }
        </tbody>
    </table>
</div>
